<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || 'Pender' %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'md5', skip_pipeline: true %>
  <%= javascript_include_tag 'embed', skip_pipeline: true %>

  <style type="text/css">
    .pender-container {
      text-align: left;
    }

    .fb_iframe_widget,
    .fb_iframe_widget iframe,
    .fb-post span {
      text-align: center;
      margin: auto;
      display: block !important;
    }

    .fb_iframe_widget {
      margin-top: 16px;
    }

    .twitter-tweet {
      display: inline-block !important;
      width: 100% !important;
      max-width: 100% !important;
      text-align: center;
      margin-top: 16px !important;
    }

    #twitter-widget-0 {
      display: inline-block !important;
      max-width: 500px !important;
      width: 100% !important;
    }
  </style>
</head>
<body>
  <%= yield %>

  <script type="text/javascript">
    Pender.id = '<%= @id %>';
  </script>
</body>
</html>
